@font-face {
  font-family: 'Brisia-Icons';
  src:  url('fonts/Brisia-Icons.eot?v1b5e9');
  src:  url('fonts/Brisia-Icons.eot?v1b5e9#iefix') format('embedded-opentype'),
    url('fonts/Brisia-Icons.ttf?v1b5e9') format('truetype'),
    url('fonts/Brisia-Icons.woff?v1b5e9') format('woff'),
    url('fonts/Brisia-Icons.svg?v1b5e9#Brisia-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Brisia-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bird:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-envelope2:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-phone2:before {
  content: "\e905";
}
.icon-mobile:before {
  content: "\e906";
}
.icon-ipod:before {
  content: "\e907";
}
.icon-monitor:before {
  content: "\e908";
}
.icon-camera3:before {
  content: "\e909";
}
.icon-volume:before {
  content: "\e90a";
}
.icon-music:before {
  content: "\e90b";
}
.icon-cog2:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-zoomout:before {
  content: "\e90e";
}
.icon-zoomin:before {
  content: "\e90f";
}
.icon-user3:before {
  content: "\e910";
}
.icon-user4:before {
  content: "\e911";
}
.icon-user5:before {
  content: "\e912";
}
.icon-trashcan:before {
  content: "\e913";
}
.icon-star2:before {
  content: "\e914";
}
.icon-heart2:before {
  content: "\e915";
}
.icon-sunny:before {
  content: "\e916";
}
.icon-direction:before {
  content: "\e917";
}
.icon-thumbsup:before {
  content: "\e918";
}
.icon-thumbsdown:before {
  content: "\e919";
}
.icon-pointer:before {
  content: "\e91a";
}
.icon-pointer2:before {
  content: "\e91b";
}
.icon-pointer3:before {
  content: "\e91c";
}
.icon-pointer4:before {
  content: "\e91d";
}
.icon-arrow-up2:before {
  content: "\e91e";
}
.icon-arrow-down2:before {
  content: "\e91f";
}
.icon-arrow-left2:before {
  content: "\e920";
}
.icon-arrow-right2:before {
  content: "\e921";
}
.icon-arrow-top-right:before {
  content: "\e922";
}
.icon-arrow-top-left:before {
  content: "\e923";
}
.icon-arrow-bottom-right:before {
  content: "\e924";
}
.icon-arrow-bottom-left:before {
  content: "\e925";
}
.icon-contract:before {
  content: "\e926";
}
.icon-enlarge:before {
  content: "\e927";
}
.icon-refresh:before {
  content: "\e928";
}
.icon-camera4:before {
  content: "\e929";
}
.icon-camera5:before {
  content: "\e92a";
}
.icon-upload:before {
  content: "\e92b";
}
.icon-checkmark:before {
  content: "\e92c";
}
.icon-checkmark2:before {
  content: "\e92d";
}
.icon-cancel:before {
  content: "\e92e";
}
.icon-cancel2:before {
  content: "\e92f";
}
.icon-plus2:before {
  content: "\e930";
}
.icon-plus3:before {
  content: "\e931";
}
.icon-minus:before {
  content: "\e932";
}
.icon-minus2:before {
  content: "\e933";
}
.icon-notice:before {
  content: "\e934";
}
.icon-notice2:before {
  content: "\e935";
}
.icon-cog3:before {
  content: "\e936";
}
.icon-picture:before {
  content: "\e937";
}
.icon-pictures:before {
  content: "\e938";
}
.icon-pictures2:before {
  content: "\e939";
}
.icon-alarmclock:before {
  content: "\e93a";
}
.icon-checkmark3:before {
  content: "\e93b";
}
.icon-cancel3:before {
  content: "\e93c";
}
.icon-eye:before {
  content: "\e93d";
}
.icon-folder3:before {
  content: "\e93e";
}
.icon-magnifier:before {
  content: "\e93f";
}
.icon-heart3:before {
  content: "\e940";
}
.icon-star3:before {
  content: "\e941";
}
.icon-user6:before {
  content: "\e942";
}
.icon-settings:before {
  content: "\e943";
}
.icon-camera6:before {
  content: "\e944";
}
.icon-pen2:before {
  content: "\e945";
}
.icon-bubble3:before {
  content: "\e946";
}
.icon-like:before {
  content: "\e947";
}
.icon-photo:before {
  content: "\e948";
}
.icon-world:before {
  content: "\e949";
}
.icon-chevron-right:before {
  content: "\e94a";
}
.icon-chevron-left:before {
  content: "\e94b";
}
.icon-arrow-right-thick:before {
  content: "\e94c";
}
.icon-arrow-left-thick:before {
  content: "\e94d";
}
.icon-th-small:before {
  content: "\e94e";
}
.icon-th-menu:before {
  content: "\e94f";
}
.icon-th-list:before {
  content: "\e950";
}
.icon-th-large:before {
  content: "\e951";
}
.icon-home2:before {
  content: "\e952";
}
.icon-image2:before {
  content: "\e953";
}
.icon-zoom:before {
  content: "\e954";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-backspace:before {
  content: "\e14a";
}
.icon-camera7:before {
  content: "\e3af";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-camera_enhance:before {
  content: "\e8fc";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-camera8:before {
  content: "\e955";
}
.icon-camera-off:before {
  content: "\e956";
}
.icon-check-circle:before {
  content: "\e957";
}
.icon-check-square:before {
  content: "\e958";
}
.icon-delete:before {
  content: "\e959";
}
.icon-file-plus:before {
  content: "\e95a";
}
.icon-folder4:before {
  content: "\e95b";
}
.icon-folder-minus2:before {
  content: "\e95c";
}
.icon-folder-plus2:before {
  content: "\e95d";
}
.icon-github2:before {
  content: "\e95e";
}
.icon-trash-2:before {
  content: "\e95f";
}
.icon-users2:before {
  content: "\e960";
}
.icon-user7:before {
  content: "\e961";
}
.icon-users3:before {
  content: "\e962";
}
.icon-user8:before {
  content: "\e963";
}
.icon-camera9:before {
  content: "\e964";
}
.icon-mapmarker:before {
  content: "\e965";
}
.icon-plus:before {
  content: "\f067";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-camera:before {
  content: "\f030";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-comment:before {
  content: "\f075";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-add-user:before {
  content: "\e966";
}
.icon-camera10:before {
  content: "\e967";
}
.icon-chat2:before {
  content: "\e968";
}
.icon-facebook-with-circle:before {
  content: "\e969";
}
.icon-facebook3:before {
  content: "\e96a";
}
.icon-flickr-with-circle:before {
  content: "\e96b";
}
.icon-flickr:before {
  content: "\e96c";
}
.icon-github-with-circle:before {
  content: "\e96d";
}
.icon-github3:before {
  content: "\e96e";
}
.icon-google-with-circle:before {
  content: "\e96f";
}
.icon-google4:before {
  content: "\e970";
}
.icon-tumblr-with-circle:before {
  content: "\e971";
}
.icon-tumblr:before {
  content: "\e972";
}
.icon-twitter-with-circle:before {
  content: "\e973";
}
.icon-twitter3:before {
  content: "\e974";
}
.icon-bubbles5:before {
  content: "\e975";
}
.icon-user9:before {
  content: "\e976";
}
.icon-users4:before {
  content: "\e977";
}
.icon-camera11:before {
  content: "\e978";
}
.icon-image3:before {
  content: "\e979";
}
.icon-home4:before {
  content: "\e97a";
}
.icon-comment2:before {
  content: "\e97b";
}
.icon-envelope3:before {
  content: "\e97c";
}
.icon-clock:before {
  content: "\e97d";
}
.icon-user10:before {
  content: "\e97e";
}
.icon-cog4:before {
  content: "\e97f";
}
.icon-file:before {
  content: "\e980";
}
.icon-picture2:before {
  content: "\e981";
}
.icon-camera12:before {
  content: "\e982";
}
.icon-earth:before {
  content: "\e983";
}
.icon-location:before {
  content: "\e984";
}
.icon-heart4:before {
  content: "\e985";
}
.icon-tag:before {
  content: "\e986";
}
.icon-phone3:before {
  content: "\e987";
}
.icon-cancel4:before {
  content: "\e988";
}
.icon-home:before {
  content: "\e989";
}
.icon-home3:before {
  content: "\e98a";
}
.icon-office:before {
  content: "\e98b";
}
.icon-pencil:before {
  content: "\e98c";
}
.icon-pencil2:before {
  content: "\e98d";
}
.icon-quill:before {
  content: "\e98e";
}
.icon-pen:before {
  content: "\e98f";
}
.icon-image:before {
  content: "\e990";
}
.icon-images:before {
  content: "\e991";
}
.icon-camera2:before {
  content: "\e992";
}
.icon-pacman:before {
  content: "\e993";
}
.icon-book:before {
  content: "\e994";
}
.icon-file-picture:before {
  content: "\e995";
}
.icon-stack:before {
  content: "\e996";
}
.icon-folder2:before {
  content: "\e997";
}
.icon-folder-open2:before {
  content: "\e998";
}
.icon-folder-plus:before {
  content: "\e999";
}
.icon-folder-minus:before {
  content: "\e99a";
}
.icon-folder-download:before {
  content: "\e99b";
}
.icon-bubble:before {
  content: "\e99c";
}
.icon-bubbles:before {
  content: "\e99d";
}
.icon-bubbles2:before {
  content: "\e99e";
}
.icon-bubble2:before {
  content: "\e99f";
}
.icon-bubbles3:before {
  content: "\e9a0";
}
.icon-bubbles4:before {
  content: "\e9a1";
}
.icon-user2:before {
  content: "\e9a2";
}
.icon-users:before {
  content: "\e9a3";
}
.icon-user-plus:before {
  content: "\e9a4";
}
.icon-user-minus:before {
  content: "\e9a5";
}
.icon-user-check:before {
  content: "\e9a6";
}
.icon-user-tie:before {
  content: "\e9a7";
}
.icon-cog:before {
  content: "\e9a8";
}
.icon-cogs2:before {
  content: "\e9a9";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus2:before {
  content: "\ea8b";
}
.icon-google-plus22:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook2:before {
  content: "\ea90";
}
.icon-facebook22:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter2:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-angellist:before {
  content: "\e9aa";
}
.icon-facebook4:before {
  content: "\e9ab";
  color: #3b5998;
}
.icon-github4:before {
  content: "\e9ac";
}
.icon-gitlab:before {
  content: "\e9ad";
  color: #e24329;
}
.icon-google5:before {
  content: "\e9ae";
  color: #4285f4;
}
.icon-googlechrome:before {
  content: "\e9af";
  color: #4285f4;
}
.icon-googledrive:before {
  content: "\e9b0";
  color: #4386fc;
}
.icon-googleplus:before {
  content: "\e9b1";
  color: #dc4e41;
}
.icon-hootsuite:before {
  content: "\e9b2";
}
.icon-inkscape:before {
  content: "\e9b3";
}
.icon-instacart:before {
  content: "\e9b4";
  color: #43b02a;
}
.icon-keybase:before {
  content: "\e9b5";
  color: #33a0ff;
}
.icon-microsoftoutlook:before {
  content: "\e9b6";
  color: #0072c6;
}
.icon-myspace:before {
  content: "\e9b7";
}
.icon-twitter4:before {
  content: "\e9b8";
  color: #1da1f2;
}
.icon-unsplash:before {
  content: "\e9b9";
}
.icon-wechat:before {
  content: "\e9ba";
  color: #7bb32e;
}
.icon-youtube3:before {
  content: "\e9bb";
  color: #f00;
}
