main {   
   background-repeat: no-repeat; 
   background-color: rgba();
}

#logo {
    width: 700px;
    height: 250px;
} 

#mesa {
    width: 1000px;
    height: 400px;
    
}

#button {
    margin: 2% !important;
    color: #E4B043 !important;
}
button, html [type=button] {

    background: #E4B043;
}