<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Stylesheet-->
    <link rel="stylesheet" href="../assets/fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/index2.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Registro de Usuarios</title>
</head>

<body>   
    <header class="container">
            <section class="row justify-content-center">
                    <div class="col-md-9 offset-md-2">
                       <img src="../assets/images/Logo.png" alt="Fast-Access" class="image-logo">
                    </div>
                </section>        
    </header>

    <main class="container">
        <section class="row col justify-content-center">
            <div>
                <br>
                <br>
                <!-- <article id="containerButton">

                    <button type="button" class="btn btn-primary" id="visitors"> <span class="icon-people"></span> Visitantes</button>
                    <button type="button" class="btn btn-primary" id="workers"> <span class="icon-user-check"></span> CoWorkers</button>
                    <button type="button" class="btn btn-primary" id="homePage"> <span class="icon-refresh"></span> </button>

                </article> -->
                

<article id="formWorker" class="formulario-workers row justify-content-center ">
  <h3>Registro de CoWorkers</h3>
  <br>
  <br>
  <input type="text" id="companyWorker" placeholder="Nombre de la empresa" class="form-control my-3"> 
  <input type="text" id="nameWorker" placeholder="Tu nombre completo" class="form-control my-3"> 
  <button class="btn btn-primary btn-lg btn-warning" id="showCameraW"><span class="icon-camera3"></span> </button>

  <section id="cameraW">
    <video id="player" controls autoplay></video>
    <button class="btn btn-primary btn-lg btn-warning" id="capture">Capturar</button>
    <img id="perrito" src="" alt="">
    <canvas id="snapshot" width=320 height=240></canvas>
  </section>
  <button class="btn btn-primary btn-lg btn-warning" id="saveWorker">Registrar</button>
  <br>
  <button class="btn btn-primary btn-lg btn-warning" id="goHomeW"> <span class="icon-home"></span> Volver</button>                
</article>
                          
            </div>
        </section>        
    </main>   


    <!--Firestore-->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>    <!--JavaScript -->
    <script src="../scripts/credentials.js"></script>
    <script src="../scripts/registerworker.js"></script>
    <!-- <script src="../scripts/register.js"></script> -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>

